.main-page {
  text-align: center;
}

.main-title {
  margin-top: -8px;
  height: 20px;
}

.game-button {
  position: absolute;
  top: 170px;
  left: 390px;
  height: 500px;
  width: 650px;
  background-color: rgb(143, 182, 236);
  border-radius: 3px;
  text-align: center;
}

.github:hover {
  color: rgb(88, 112, 192);
}

.game-button-button {
  margin-top: 10px;
  margin-bottom: 22px;
  background-color: rgb(100, 123, 187);
  cursor: pointer;
  font-size: 15px;
  color: rgb(244, 247, 250);
}

.game-button-button:hover {
 background-color: rgb(151, 165, 207);
}

.game-about-outer {
  margin: 10px;
  padding: 0px 10px;
  border: 1px solid #1a2e5d;
  border-radius: 2px;
}

.game-about-header {
  margin-top: 10px;
  text-align: center;
}

.game-restart {
  position: absolute;
  top: 270px;
  left: 515px;
  height: 200px;
  width: 400px;
  background-color: rgb(143, 182, 236);
  border-radius: 3px;
  text-align: center;
  border: 2px solid rgb(92, 90, 90);
}

.game-button-button-1 {
  margin-top: 20px;
  margin-bottom: 22px;
  background-color: rgb(100, 123, 187);
  cursor: pointer;
  font-size: 15px;
  color: rgb(244, 247, 250);
}

.game-button-button-1:hover {
 background-color: rgb(151, 165, 207);
}

.music-button {
  position: absolute;
  top: 98px;
  left: 251px;
  z-index: 3;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 16px;
}

.music-button:hover {
  color: rgb(184, 93, 230);
}

.muted {
  text-decoration: line-through;
  position: absolute;
  top: 98px;
  left: 251px;
  z-index: 3;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 16px;
}

.muted:hover {
  color: rgb(184, 93, 230);
}


.hidden {
  display: none;
}

p {
  margin: 25px;
  font-size: 22px;
}
