.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  margin-bottom: 5px;
}

.body-1 {
  background: rgb(34,78,195);
  background: linear-gradient(0deg, rgba(34,78,195,1) 22%, rgba(45,154,253,1) 99%);
  background-size: 110%;  
 }

.main-title {
  margin-top: -8px;
  height: 20px;
  font-family: 'Bungee Shade', cursive;
  color: rgb(212, 227, 227);
}

.game-button {
  position: absolute;
  top: 170px;
  left: 390px;
  height: 500px;
  width: 650px;
  background-color: rgb(143, 182, 236);
  border-radius: 3px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.github:hover {
  color: rgb(88, 112, 192);
}

.game-button-button {
  margin-top: 10px;
  margin-bottom: 22px;
  background-color: rgb(100, 123, 187);
  cursor: pointer;
  font-size: 15px;
  color: rgb(244, 247, 250);
  font-family: 'Roboto Slab', serif;
}

.game-button-button:hover {
 background-color: rgb(151, 165, 207);
}

.game-about-outer {
  margin: 10px;
  padding: 0px 10px;
  border: 1px solid #1a2e5d;
  border-radius: 2px;
  font-family: 'Roboto Slab', serif;
}

.game-about-header {
  margin-top: 10px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.game-restart {
  position: absolute;
  top: 270px;
  left: 515px;
  height: 200px;
  width: 400px;
  background-color: rgb(143, 182, 236);
  border-radius: 3px;
  text-align: center;
  border: 2px solid rgb(92, 90, 90);
  font-family: 'Roboto Slab', serif;
}

.game-button-button-1 {
  margin-top: 20px;
  margin-bottom: 22px;
  background-color: rgb(100, 123, 187);
  cursor: pointer;
  font-size: 15px;
  color: rgb(244, 247, 250);
  font-family: 'Roboto Slab', serif;
}

.game-button-button-1:hover {
 background-color: rgb(151, 165, 207);
}

.music-button {
  /* position: absolute; */
  margin-right: 20px;
  top: 98px;
  left: 251px;
  z-index: 3;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;  
}

.music-button:hover {
  color: rgb(184, 93, 230);
}

.muted {
  text-decoration: line-through;
  /* position: absolute; */
   margin-right: 20px;
  top: 98px;
  left: 251px;
  z-index: 3;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.muted:hover {
  color: rgb(184, 93, 230);
}

.pause-button {
  /* position: absolute; */
  /* top: 98px;
  left: 312px; */
  z-index: 3;
  background: none;
  border: none;
  /* padding: 4px; */
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 16px;
  /* border: 2.5px solid purple; */
  /* border-radius: 4px; */
  font-family: 'Roboto Slab', serif;
}

.paused {
  text-decoration: line-through;
  /* position: absolute; */
  /* top: 98px;
  left: 312px; */
  z-index: 3;
  background: none;
  border: none;
  /* padding: 0; */
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.pause-button:hover {
  color: rgb(184, 93, 230);
}

.paused:hover {
  color: rgb(184, 93, 230);
}

.buttons {
  display: flex;
}

.hidden {
  display: none;
}

.directions-text-hidden {
  visibility: hidden;
}

p {
  margin: 25px;
  font-size: 19px;
}

.directions-text {
  color: whitesmoke;
  font-weight: bold;
  font-style: 22px;
  display: inline;
}

@media only screen and (max-width: 550px) {

  #game {
      height: 100vh;
      width: 100vw;
  }

  .game-button {
    position: absolute;
    margin-top: 10%;
    left: 00%;
    top: 10vh;
    height: 350px;
    width: 100vw;
    background-color: rgb(143, 182, 236);
    border-radius: 3px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
  }

 

  .game-about-header {
    font-size: 16px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 10px;
    margin: 15px;
  }

  .music-button {
   /* position: absolute; */
   top: 75px;
   left: 20px;
   z-index: 3;
   background: none;
   border: none;
   padding: 0;
   cursor: pointer;
   color: rgb(103, 5, 151);
   font-weight: bold;
   font-size: 11px;
   font-family: 'Roboto Slab', serif;  
  }

  .music-button:hover {
    color: rgb(184, 93, 230);
  }

  .muted {
  text-decoration: line-through;
  /* position: absolute; */
  top: 75px;
  left: 24px;
  z-index: 3;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 11px;
  font-family: 'Roboto Slab', serif;
}

.muted:hover {
  color: rgb(184, 93, 230);
}

.pause-button {
  /* position: absolute; */
  /* top: 75px;
  left: 63px; */
  z-index: 3;
  background: none;
  border: none;
  /* padding: 4px; */
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 11px;
  /* border: 2.5px solid purple;
  border-radius: 4px; */
  font-family: 'Roboto Slab', serif;
}

.paused {
  text-decoration: line-through;
  /* position: absolute; */
  /* top: 75px;
  left: 63px; */
  z-index: 3;
  background: none;
  border: none;
  /* padding: 0; */
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 11px;
  font-family: 'Roboto Slab', serif;
}

.pause-button:hover {
  color: rgb(184, 93, 230);
}

.paused:hover {
  color: rgb(184, 93, 230);
 }

 .game-restart {
  position: absolute;
  top: 130px;
  left: 123px;
  height: 150px;
  width: 300px;
  background-color: rgb(143, 182, 236);
  border-radius: 3px;
  text-align: center;
  border: 2px solid rgb(92, 90, 90);
  font-family: 'Roboto Slab', serif;
 }

 .another-try {
   font-size: 15px;
 }
}

@media only screen and (min-width: 2200px) {

  #game {
    height: 100vh;
    width: 100vw;
  }

  .game-button {
    position: absolute;
    top: 170px;
    left: 720px;
    height: 600px;
    width: 750px;
    background-color: rgb(143, 182, 236);
    border-radius: 3px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
  }

  .game-about-header {
    font-size: 35px;
  }

  h2 {
    font-size: 33px;
  }

  p {
    font-size: 23px;
    margin: 29px;
  }

  .music-button {
   /* position: absolute;
   top: 135px;
   left: 75px; */
   z-index: 3;
   background: none;
   border: none;
   padding: 0;
   cursor: pointer;
   color: rgb(103, 5, 151);
   font-weight: bold;
   font-size: 25px;
   font-family: 'Roboto Slab', serif;  
  }

  .music-button:hover {
    color: rgb(184, 93, 230);
  }

  .muted {
  text-decoration: line-through;
  /* position: absolute;
  top: 135px;
  left: 75px; */
  z-index: 3;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}

.muted:hover {
  color: rgb(184, 93, 230);
}

.pause-button {
  /* position: absolute;
  top: 135px;
  left: 160px; */
  z-index: 3;
  background: none;
  border: none;
  /* padding: 4px; */
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 25px;
  /* border: 2.5px solid purple;
  border-radius: 4px; */
  font-family: 'Roboto Slab', serif;
}

.paused {
  text-decoration: line-through;
  /* position: absolute;
  top: 135px;
  left: 160px; */
  z-index: 3;
  background: none;
  border: none;
  /* padding: 0; */
  cursor: pointer;
  color: rgb(103, 5, 151);
  font-weight: bold;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}

.pause-button:hover {
  color: rgb(184, 93, 230);
}

.paused:hover {
  color: rgb(184, 93, 230);
}

.game-restart {
  position: absolute;
  top: 400px;
  left: 900px;
  height: 200px;
  width: 400px;
  background-color: rgb(143, 182, 236);
  border-radius: 3px;
  text-align: center;
  border: 2px solid rgb(92, 90, 90);
  font-family: 'Roboto Slab', serif;
 }

 .game-button-button {
  margin-top: 10px;
  margin-bottom: 22px;
  background-color: rgb(100, 123, 187);
  cursor: pointer;
  font-size: 20px;
  color: rgb(244, 247, 250);
  font-family: 'Roboto Slab', serif;
 }
}

